/* ******GLOBAL ****** */
body{
	color:#6b6b6b;
	font-family:georgia, "times new roman", times, serif;
	font-size:14px;
}
h1,
h2,
h3{
	color:#676d38;
}

#results
{
	height:expression(this.scrollHeight > 449 ? "450px" : "auto" ); /* sets max-height for IE */
	max-height:450px;
	overflow:auto;
	width:157px;
	margin:0px;
	margin-left:-10px;
	padding:0px;
	padding-left:10px;
	/*border: solid 1px black;*/
}

#results > ol
{
	margin:0px;
	padding:0px;
}
.IESUCKS
{
	margin:0px;
	padding:0px;
	height:0px;
	display:none;
}
.findaidtitles{
	font-weight:800;
	font-size:140%;
	color:#676d38;
	text-align:center;
}
.footer{
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
}
a:link{
	color:#47371f;
}
a:visited{
	color:#47371f;
}
a:hover{
	color:#ffac27;
}
table{
	font-size:14px;
}
/*.archdesc {
	
}*/
/* ******BOOTSTRAP NAVBAR HEADER ****** */
.navbar-default{
	/*background-color: white;*/
	border-bottom:10px solid #999999;
	font-family:arial, helvetica, sans-serif;
	font-size:120%;
	font-weight:bold;
	margin-bottom:5px;
}
/*.nav-home {
	background-color: #a47c41;
}
.nav-search {
	background-color: #e26e24;
}
.nav-about {
	background-color: #fbac28;
}
.nav-contact {
	background-color: #b2b35b;
}
.nav-tools {
	background-color: #ead44f;
}
.navbar-default a:hover {
	color:white;
}*/
/* ****** END BOOTSTRAP NAVBAR HEADER ****** */
/* ****** EAD STRUCTURAL BLOCKS ****** */
.arrangement,
.bioghist,
.scopecontent,
.index,
.odd,
.altformavail,
.userestrict,
.accessrestrict,
.note,
.physdesc,
.physloc,
.origination{
	padding-left:1em;
	padding-top:5px;
	padding-bottom:5px;
}
.subject{
	margin-left:2em;
}

/* ****** END EAD STRUCTURAL BLOCKS ****** */
/* ****** CONTROLS INDENTATION WITHIN C0X ******* */
.c02{
	padding-left:0em;
}
.c03{
	padding-left:2em;
}
.c04{
	padding-left:4em;
}
.c05{
	padding-left:6em;
}
.c06{
	padding-left:8em;
}
.c07{
	padding-left:10em;
}
.c08{
	padding-left:12em;
}
.c09{
	padding-left:14em;
}
.c10{
	padding-left:16em;
}
.c11{
	padding-left:18em;
}
.c12{
	padding-left:20em;
}
/* ****** END CONTROLS INDENTATION WITHIN C0X ******* */
.containerLabel{
	color:#676d38;
	font-size:85%;
	text-decoration:none;
	text-transform:capitalize;
}
/* styling related to c0x */
.c0x_container_large{
	width:170px;
}
.c0x_container_small{
	width:85px;
}
.c0x_date{
	width:140px;
}
.c0x_header{
	font-weight:bold;
	font-size:85%;
}
/* ****** HTML HEADINGS AND LABELS ****** */
.dao_desc{
	font-weight:600;
	color:#676d38;
	background-color:#edede8;
}
.collection_image{
	border-style:dashed;
	border-color:#ccc;
	border-width:1px;
	background-color:#edede8;
}
.top{
	margin:10px 0;
	padding:2px;
	border:1px solid #ddd;
	background-color:#f9f9f9;
}
/* ****** END HTML HEADINGS ****** */
/* ****** HTML TOC ****** */
/*.navBody{
	position:fixed;
}*/
.navBody ul{
	margin-left:2em;
	font-weight:bold;
}
.navBody li{
	margin-bottom:10px;
}
.toc-fixed{
	width:23%;
	position:fixed;
	overflow-y:auto;
	height:500px;
}
/* ************* CONTROL ACCESS LIST FORMATTING **************** */
.ca_list{
	list-style-type:none;
}
.ca_head{
	font-weight:bold;
}
/* ************ END CONTROL ACCESS LIST FORMATTING **************** */
/****** Comment System Additions - BETA DO NOT USE ON PRODUCTION SERVICES 

PLACE IN PRODUCTION AREA WHEN IMPLEMENTED*****/
.commentHeader{
	margin-top:10px;
	margin-bottom:10px;
	padding:2px;
	/*border-style:none;
	border-color:#000000;
	border-width:1px 1px 1px 1px;*/
	text-align:left;
	background-color:#edede7;
	font-weight:bold;
}
.commentSection{
	margin-right:7%;
	background-color:#edede7;
}

.commentRoot{
	margin-top:10px;
	margin-left:30px;
	/*margin-right:30px;*/
	padding:2px;
	padding-left:5px;
	text-align:left;
	background-color:#edede7;
}
.commentReply{
	margin-top:10px;
	margin-left:50px;
	/*margin-right:30px;*/
	padding:2px;
	padding-left:5px;
	text-align:left;
	background-color:#edede7;
}
.commentName{
	text-align:left;
}
.commentDate{
	text-align:right;
	position:absolute;
	right:50%;
}
.commentMin{
	position:absolute;
	right:7%;
	text-decoration:none;
	color:blue;
}
.commentMin1 A:link{
	text-decoration:none;
	color:blue;
}
.commentMin1 A:visited{
	text-decoration:none;
	color:blue;
}
.commentMin1 A:active{
	text-decoration:none;
	color:blue;
}
.commentMin1 A:hover{
	text-decoration:none;
	color:blue;
}
/* ******CONTACT PAGE ****** */
.archive-div{
	padding:5px 0;
}