
.heading1 { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 13pt;
	color: #000033;
	font-weight: normal
	}

.heading2 {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11pt; 
	font-weight: 600; 
	}

.heading3 {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10pt; 
	font-weight: 600; 
	padding-left: 15px;
	}

	
a.tochc:link 	{  
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: 600;
	color: #000000; 
	text-decoration: none
	}

a.tochc:visited 	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: 600; 
	color: #000000; 
	text-decoration: none
	}
		
a.tochc:active 	{  
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: 600; 
	color: #000000; 
	text-decoration: none
	}
	
a.tochc:hover 	{ 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: 600;
	color: #000000; 
	text-decoration: underline
	}
	
.bodytext	{  
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal; 
	color: #000000;
	padding-left: 15px;
	}	

.bodytextbold	{  
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: 600;
	color: #000000;
	padding-left: 15px;
	}	

	
.bodytextpad	{  
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal; 
	color: #000000;
	padding-left: 15px;
	}


.componenttext	{  
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal; 
	color: #000000;
	}

.componentpad	{  
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal; 
	color: #000000;
	padding-left: 20px;
	}


.componentbold	{  
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bolder; 
	color: #000000;
	
	}

.componentnote	{  
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal; 
	color: #000000;
	font-style: italic;
	padding-left: 20px;
	}


	
.toc1 {

	padding-left: 5px;
	padding-right: 5px;
}

.toc2 { 
	padding-left: 12px;
	padding-right: 5px;
	padding-bottom: 6px;
}	
	
.toc3 { 
	
	padding-left: 20px;
	padding-right: 5px;
	padding-bottom: 6px;
}
	

		
a.ltoc1:link 	{  
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bolder; 
	color: #000000; 
	/*text-decoration: none*/
	}

a.ltoc1:visited 	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bolder; 
	color: #000000; 
	/*text-decoration: none*/
	}

		
a.ltoc1:active 	{  
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bolder; 
	color: #333333; 
	/*text-decoration: none*/
	}
	
a.ltoc1:hover 	{ 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bolder; 
	color: #333333; 
	/*text-decoration: underline*/
	}

a.ltoc2:link 	{  
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	color: #000000; 
	/*text-decoration: none*/
	}


a.ltoc2:visited 	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	color: #000000; 
	/*text-decoration: none*/
	}
		
a.ltoc2:active 	{  
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	color: #333333; 
	/*text-decoration: none*/
	}
	
a.ltoc2:hover 	{ 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	color: #333333; 
	/*text-decoration: underline*/
	}

	
a:link 	{  
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	color: #000066; 
	text-decoration: none
	}

a:visited 	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal; 
	color: #000066; 
	text-decoration: none
	}
		
a:active 	{  
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: normal; 
	color: #000066; 
	text-decoration: none
	}
	
a:hover 	{ 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	color: #000066; 
	text-decoration: underline
	}

a.itoc:link 	{  
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	color: #000066; 
	text-decoration: none
	}

a.itoc:visited 	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal; 
	color: #000066; 
	text-decoration: none
	}
		
a.itoc:active 	{  
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: normal; 
	color: #000066; 
	text-decoration: none
	}
	
a.itoc:hover 	{ 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	color: #000066; 
	text-decoration: underline
	}
	
hr	{

	line-height: 2.0em;
}
	

