ar@charset "iso-8859-1";


body
{
	background-color: #ffffff;
	color: #000000;
  font-weigth: normal;
  font-size: 90%;
  color: #000000;
  font-family: Verdana, Arial, Helvetica, sans-serif
}


/******* HTML HEADINGS AND LABELS *******/

/******* MENU *******/
div.menu{
	position: absolute;
}

[class="menu"]{
	position: fixed;
	top:6.6ex;
	left:1.5ex;
}

div.menu:hover span.lockmenu{
	display: none;
}

span.lockmenu{
	display: none;
}

div.menu:hover span.unlockmenu{
	display: block;
}

span.unlockmenu{
	display: block
}

/******* MENU *******/



/******* HTML HEADINGS AND LABELS *******/
/*
.structhead
{
	background-color: #ffffff;
	color: #000000;
}
*/

.caps
{
font-style:caps;
/* get css infor on font style*/
}

/******* END HTML HEADINGS *******/


/******* HTML TOC *******/
.navHead 
{
  padding: 8px;
	background: white;
	border-top:dashed;
	border-color:#ccc;
	border-width:1px;
	text-align:center;
	font-size: 110%;
	font-family: Verdana, sans-serif;
	font-weight:700;
	color:#09c;
}

.navBody 
{ 
    margin-top: 10px;
    border-top:dashed;
    border-color:#ccc;
    border-width:1px;
    margin-left: 25px;
    text-indent: -10px;
    text-align:left;
    font-size: 10pt;
    font-family: Verdana, sans-serif;
    font-weight: bold;
}
	


.toc1
{
    padding-right: 5px;
    padding-left: 5px
}
.toc2
{
    padding-right: 5px;
    padding-left: 12px;
    padding-bottom: 6px
}
.toc3
{
    padding-right: 5px;
    padding-left: 20px;
    padding-bottom: 6px
}
/******* END HTML TOC *******/


/******* EAD STRUCTURAL BLOCKS *******/


.filedesc
{
	background-color: #FFC1C6;
	color: #000000;
}

.archdesc
{
	background-color: white
	color: brown
}

.overview
{
	background-color: orange;
	color: #000000;
}
.admininfo
{
	background-color: #AA8EF3;
	color: #000000;
}
.arrangement
{
	background-color: white
	color: #000000;
}
.bioghist
{
	background-color: #ABD6D1;
	color: #000000;
}
.controlaccess
{
	background-color: #99E8E8;
	color: #000000;
}
.dsc
{
	background-color: #E7C9E4;
	color: #000000;
}
.scopecontent
{
	background-color: #F0E6BF;
	color: #000000;
}
.c02{
	margin-left: 0em;
	color: red;
}
.c03{
	margin-left: 2em;
	color: blue;
}
.c04{
	margin-left: 4em;
	color: green;
}
.c05{
	margin-left: 6em;
	color: orange;
}
.c06{
	margin-left: 8em;
	color: brown;
}
.c07{
	margin-left: 10em;
	color: gray;
}
/******* END EAD STRUCTURAL BLOCKS *******/

/******* EAD LOGICAL BLOCKS *******/
.overview
{
	background-color: #ABD6D1;
	color: #000000;
}
/******* ENDEAD LOGICAL BLOCKS *******/